body {
    background-color: #F0EBE3;
    color: #576F72;
    font-family: 'Courier New', Courier, monospace;
}

.main-page {
    background-color: #E4DCCF;
    margin: auto;
    width: 70%;
    padding: 10px;
}

h1 {
    text-align: center;
    }

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

h2{
    margin-right: 10%;
    margin-left: 10%;
}

.blue-box {
    background-color: #E4DCCF;
    border: 3px solid #7D9D9C;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 5px;
}